<h2>Search for waypoints</h2>
<p>Note: These waypoints must be fixes only; nav aids not currently supported.</p>
<form action="/search">
  <div class="input-field">
    <textarea class="form-control" name="waypoints" cols="30" rows="10"><%= params[:waypoints] %></textarea>
  </div>
  <div class="input-field">
    <input class="btn btn-primary" type="submit">
  </div>
</form>
